@using Html.Models
@model Class1

@{
    ViewBag.Title = "formulario";
}
<form action="Resultado" method="post">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.LabelForModel("Cedula")
    @Html.TextBoxFor(x => x.cedula, new { @class = "form-control" })


    @Html.LabelForModel("Nombre")
    @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })



    @Html.LabelForModel("Apellido")
    @Html.TextBoxFor(x => x.apellido, new { @class = "form-control" })

    @Html.LabelForModel("Edad")
    @Html.EditorFor(model => model.edad, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.edad, "", new { @class = "text-danger" })

    @Html.LabelForModel("Telefono")
    @Html.TextBoxFor(x => x.telefono, new { @class = "form-control" })

    @Html.LabelForModel("Correo")
    @Html.TextBoxFor(x => x.correo, new { @class = "form-control" })

    @Html.DropDownListFor(m =>m.genero,
    new SelectList(Enum.GetValues(typeof(Genero))),
      "seleccional el genero ")
    @Html.Label("estado:")
    Casado:@Html.RadioButton("Est", "casado")
    Soltero:@Html.RadioButton("Est", "soltero")
    UnionLibre:@Html.RadioButton("Est", "unionlibre")
    Viudo:@Html.RadioButton("Est", "viudo")
    @Html.Label("Hobby:")
    Videojuegos:@Html.CheckBox("Ho", "videojuegos")
    Leer:@Html.CheckBox("Ho", "leer")
    Dormir:@Html.CheckBox("Ho", "Dormir")
    Viudo:@Html.CheckBox("Ho", "programar")
    <input type="submit" value="Enviar" />
</form>
